@import "~taro-ui/dist/style/mixins/index.scss";

.network-error {
  &__root {
    @include absolute-center;
    margin-top: -64px;
    text-align: center;
    .img {
      margin-bottom: 64px;
    }
  }
  &__content {
    padding: 24px 0 48px;
  }
  &__button {
    display: inline-block;
  }
}
