.swiper-dot {
  &__root {
    text-align: center;
    height: 8px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 0;
    overflow: hidden;
  }
  &__item {
    display: inline-block;
    height: 8px;
    width: 18px;
    border-radius: 8px;
    background-color: #dae6fd;
    margin: 0 6px;
    &.active {
      background-color: #436be8;
      width: 48px;
    }
  }
}
