@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.item-content__isRequire {
  color: #ff4949;
}

.list__item {
  &.at-list__item {
    padding: 36px;
    &::after {
      left: 0;
    }
  }
}
