.my-employees {
  &__root {
    background: #f7f7f7;
  }
  &__search-bar {
    padding: 16px 24px;
  }
  &__list {
    &-total {
      padding: 36px 0;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    & > .at-avatar {
      margin-right: 12px;
    }
  }
}
