.new-user {
  &__root {
    padding-bottom: 36px;
  }
  &__search-bar {
    padding: 16px 32px 32px;
    background-color: #fff;
  }
  &__list {
    &-item.at-list__item--thumb .item-thumb {
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
