.my-owner {
  &__root {
  }
  &__search-bar {
    padding: 16px 32px;
    background-color: #fff;
  }
  &__list {
    &-total {
      padding: 36px 0;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    & > .at-avatar {
      margin-right: 12px;
    }
  }
}
