.owner-category {
  &__root {
    padding-bottom: 24px;
  }
  &__list {
    margin-top: 20px;
    &-item {
      background: #fff;
      padding:0 32px;
      &-child{
        padding: 20px 40px;
      }
    }
  }
}
