.tabs{
  &__root{
    width: 100%;
    display: flex;
    // box-shadow:0px 1px 0px 0px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  &__item{
    flex: 1;
    padding: 24px;
    text-align: center;
    font-size: 34px;
    &--active{
      color: #2254f5;
      background: url('../../../src/assets/images/tab-selected.svg') 50% 100% no-repeat;
    }
  }
}
