@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?o0j5uj");
  src: url("../fonts/icomoon.eot?o0j5uj#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?o0j5uj") format("truetype"),
    url("../fonts/icomoon.woff?o0j5uj") format("woff"),
    url("../fonts/icomoon.svg?o0j5uj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconfont-"],
[class*=" iconfont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-user-note:before {
  content: "\e909";
}
.iconfont-jifen:before {
  content: "\e90c";
}
.iconfont-addteam:before {
  content: "\e90d";
}
.iconfont-audit:before {
  content: "\e90e";
}
.iconfont-line-chart:before {
  content: "\e911";
}
.iconfont-car:before {
  content: "\e900";
}
.iconfont-clock:before {
  content: "\e901";
}
.iconfont-user-love:before {
  content: "\e902";
}
.iconfont-users:before {
  content: "\e903";
}
.iconfont-note-error:before {
  content: "\e904";
}
.iconfont-faver:before {
  content: "\e905";
}
.iconfont-link:before {
  content: "\e906";
}
.iconfont-pin:before {
  content: "\e907";
}
.iconfont-calendar:before {
  content: "\e908";
}
.iconfont-shops:before {
  content: "\e90a";
}
.iconfont-search-text:before {
  content: "\e90b";
}
.iconfont-arrow:before {
  content: "\e90f";
}
.iconfont-password:before {
  content: "\e910";
}
.iconfont-steering:before {
  content: "\e912";
}
.iconfont-note:before {
  content: "\e914";
}
.iconfont-fair:before {
  content: "\e915";
}
.iconfont-user:before {
  content: "\e917";
}
.iconfont-phone:before {
  content: "\e91c";
}
.iconfont-more:before {
  content: "\e922";
}
.iconfont-search:before {
  content: "\e919";
}
