$hd: 2 !default; // 基本单位
$color-brand: #2254f5;
$color-brand-light: #00aeff;
$color-brand-dark: #3369e7;
$color-border-base: #cccc;
$at-modal-width: 680px;
$at-tabs-font-size: 24px
// https://github.com/NervJS/taro-ui/blob/dev/src/style/variables/default.scss
