$hd: 2 !default; // 基本单位
$color-brand: #2254f5;
$color-brand-light: #00aeff;
$color-brand-dark: #3369e7;
$color-border-base: #cccc;
$spacing-v-lg:12px *3;
$spacing-h-lg:32px;
$at-modal-width: 680px;
$at-list-thumb-size: 12px * 6;
$at-list-extra-width: 480px;
// https://github.com/NervJS/taro-ui/blob/dev/src/style/variables/default.scss
