.index {
  &__root {
  }
  &__lead {
    margin: auto;
    padding: 12vh 24px 12vh;
    text-align: center;
  }
  &__feature {
    &-list {
    }
    &-item {
      text-align: center;
      padding: 32px 12px;
      color: #3247cd;
      &-title {
        margin-left: 24px;
        position: relative;
        top: -4px
      }
    }
  }
}
