@import "@/npm/taro-ui/dist/style/components/flex.scss";
@import "../../assets/css/theme.scss";

.order-panel {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 48px rgba(100, 100, 100, 0.1);
}
.order__eva-btn {
  & > at-button {
    display: inline-block;
    & > .btn {
      border-radius: 2px;
    }
  }
}
.order-status-text {
  font-size: 30px;
  &__success {
    color: $color-brand;
  }
  &__wait {
    color: #faad14;
  }
}
