.user-avatar {
  &__root {
    display: flex;
  }
  &__heading{
    .img{
      width: 172px;
      height: 172px;
      border-radius: 100%;
    }
  }
  &__content {
    margin-left: 20px;
  }
  &__desc {
    margin-top: 32px;
    font-size: 28px;
    color: #666;
  }
}
