.user-avatar {
  &__root {
    display: flex;
    align-items: center;

  }
  &__heading{
    .img{
      width: 172px;
      height: 172px;
      border-radius: 100%;
    }
  }
  &__content {
    margin-left: 32px;
  }
  &__name{
    font-size: 36px;
    color: #262626;
  }
  &__desc {
    margin-top: 32px;
    font-size: 28px;
    color: #737373;
  }
}
