.modal {
  &__root {
  }
  &__header {
    position: relative;
    padding: 56px 32px 0 32px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    &::after {
      display: none;
    }
  }
  &__footer {
    &-btn{
      font-size: 36px !important;
      line-height: 120px !important;
      height: 120px !important;
    }
  }
}
