.empty-data {
  &__root {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__title {
    padding-bottom: 10vh;
  }
  &__content {
    font-size: 12 * 3px;
  }
}
