.eva {
  &__root {
    padding: 32px 32px 0 32px;
  }
  &__heading {
    padding: 48px 0 24px;
  }
  &__panel {
    text-align: center;
    padding: 32px;
    border-radius: 16px;
    background: #f8f8f8;
    &-title {
      padding-bottom: 36px;
    }
    &-wrap {
      background-color: #fff;
      padding: 36px;
      margin-bottom: 32px;

    }
  }
}

// eva__panel-wrap
