.question-list {
  &__root {
    padding-bottom: 212px;
  }
  &__item {
    border: none;
    margin-top: 32px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    &-extra {
      // font-weight: 700;
      max-width: 50%;
    }
    &-title {
      // font-weight: 700;
      padding-bottom: 16px;
    }
    &-desc {
      color: #999;
      font-size: 30px;
    }
    &-date {
      color: #999;
    }
  }
  &__footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 36px 32px;
    height: 180px;
    background-color: #fff;
  }
}

.question-card{
  &__header{
    padding: 24px 32px;
    border-bottom-width: 0;
  }
  &__content{
    padding: 32px;
  }
}