.owner-index {
  &__root {
    min-height: 100vh;
    padding: 12px 32px;
    background-image: linear-gradient(180deg, #4268e6 0%, #498efa 100%);
    .nav-icon {
      margin: 24px auto 42px;
      display: block;
      width: 12px * 7;
    }
  }
  &__header {
    display: flex;
    &-title {
      flex: 1;
      color: #fff;
    }
    &-name {
      font-size: 36px;
    }
    &-desc {
      font-size: 28px;
      margin-top: 6px;
    }
    &-avatar {
      width: 100px;
      text-align: right;
    }
  }

  &__nav {
    padding: 16px;
    border-radius: 22px;
    overflow: hidden;
  }
}
