@import "~taro-ui/dist/style/components/flex.scss";

$unit: 12px;

.hobby-list {
  &__root {
    text-align: center;
    padding: 48px 12px;
    .at-col {
      padding: 12px;
    }
  }
  &__item {
    display: block;
    border-radius: 16px;
    box-shadow: 0 0 64px rgba(100, 100, 100, 0.1);
    width: 100%;
    height: 12 * 12px;
    font-size: 32px;
    line-height: 12 * 12px;
    background-color: #fff;
    position: relative;
    &.active {
      color: #fff;
      box-shadow: 0 12px 64px 0 rgba(51, 105, 231, 0.6);
      background-image: linear-gradient(90deg, #4268e6 0%, #498efa 100%);
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60px;
        height: 45px;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAAA+AgMAAADIatRuAAAADFBMVEUAAAC10Pw1aOyNsvh//f4gAAAAAXRSTlMAQObYZgAAAOtJREFUOMuVzjEOAVEQh/EVEZVSKU6hd4nxEgl6Nc2GOIVDGBHV9o6geZdQKRxApngzNvs1pvxl8uVf2U2ztM9wmAV0L6BDIZ2gZtK+kI5QZ6hC2sukffwdoI5Qx6izP1RQ23PrhlRvoAu9QHeJ+kLV0m1ntelqrZq7utWrhNr6yIa+7Glt2V9VtbUlG3q2tVdxLcXkWe/qxbOmvtTXhtpfybpa825Z1xJWz4bWpjnUw54NTWrZ0Ag3XY21oRaObHJNegOVOv8qHOvmD12hHlB3qG/UJ2l6VDiM9Ij6IU1P0lNF+iHdzEGTvX4B5i/QTAg4WTAAAAAASUVORK5CYII=");
        background-size: cover;
      }
    }
  }
}
