@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/tag.scss";
@import "~taro-ui/dist/style/components/flex.scss";

.order-card {
  &__root {
    .at-row {
      padding: 6px 0;
    }
  }
}
.tag-list {
  text-align: right;
  padding-top: 12px;
  margin: 0 -12px;
  .at-tag {
    margin: 0 6px;
  }
}

.at-card {
  border-width: 0;
  border-radius: 4px;
}

.at-card__header {
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 0px;
  padding-right: 0px;
  border-color: #f5f5f5;
}

.at-card__footer {
  text-align: right;
  padding-top: 12px;
}
