.order-details {
  &__root {
    padding-bottom: 72px;
    .next-button-wrap {
      padding-bottom: 0;
    }
    .image-picker {
      margin: 0 -15px;
    }
    .panel-body-options {
      margin-left: -12px;
    }
    .at-checkbox__title {
      font-size: 28px;
      color: #666;
    }
    .at-checkbox::before,
    .at-checkbox::after {
      display: none;
    }
    .at-checkbox__title {
      display: block;
    }
    .at-checkbox__input-panel {
      padding-left: 64px;
      color: #666;
    }
    .scan-button {
      position: absolute;
      z-index: 100;
      right: 4px !important;
      top: 4px !important;
    }
    .input__disabled {
      background-color: #ddd;
      .at-input--disabled {
        opacity: 0.8;
      }
      input::placeholder {
        color: #000;
      }
    }
    .input__text {
      padding: 22px 12px;
      background-color: #f5f5f5;
      color: #333;
      line-height: 1;
      position: relative;
    }
  }
  &__panel {
    padding: 24px;
    background-color: #fff;
    &-heading {
      padding-bottom: 12px;
      &-arrow {
        float: right;
      }
      &-title {
        font-size: 42px;
        padding-bottom: 12px;
        font-weight: 700;
      }
    }
    &-body {
      font-size: 28px;
      position: relative;
      .at-row {
        color: #666;
        padding: 4px 0;
      }
    }
  }
}

.image-list {
  margin: -6px -12px;
  &-item {
    width: 25vw;
    height: 25vw;
    padding: 12px;
    .img {
      width: 100%;
      height: 100%;
    }
  }
}

.order-details {
  &__root {
    .textarea {
      padding: 12px;
      input {
        font-size: 28px;
      }
    }
    .at-checkbox__option-wrap {
      padding-right: 0;
    }
    .at-checkbox__option {
      padding-left: 0;
    }
    .at-textarea__textarea {
      font-size: 28px;
    }
  }
}

.rule-link {
  color: #2254f5;
  font-size: 28px;
  margin-left: 24px;
  top: -12px;
  padding-bottom: 12px;
  position: relative;
}
